<div class="banner home" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url('<%= image_url "dance1.jpg" %>' );">
  <h1><strong>Moonstomp Agenda</strong></h1>
  <p class="hello">Ska, Rocksteady, Soul and more!</p>
  <div style="margin-top:20px">
  <p><%= link_to "Agenda", events_path, class: "btn-landing" %></p>
  </div>
</div>
