.form-venue{
  border: 2px solid black;
  padding: 24px;
  margin: 24px 0;
  background-color: #C9D1D9;
}

.form-band{
  border: 2px solid black;
  padding: 24px;
  margin-bottom: 24px;
  background-color: #C9D1D9;
}

.form-event{
  border: 2px solid black;
  padding: 24px;
  margin-top: 24px;
  background-color: #C9D1D9;
}

.form-title{
  text-align: center;
}
